@import './variables.scss';

.buttons {
    & > .loginButton {
        margin-bottom: 8px;
    }
}

.iconInput {
    color: rgba(0, 0 , 0, .25);
}

.loginButton {
    text-transform: uppercase;
}

.link {
    padding-top: 8px;
    display: block;
    text-align: center;
}