.root {
    height: 261px;
    text-align: center;
}

.title {
    margin-bottom: 0;
    padding: 1em 0;
    text-transform: uppercase;
}

.icon {
    font-size: 7rem;
}

.link {
    padding-top: 2.5em;
}